body .container {
  margin-bottom: 7rem;
  display: flex;
}
body .container .AboutInfo {
  width: 50%;
  padding-right: 2.5vw;
}
body .container .AboutInfo .title {
  font-size: 3rem;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}
body .container .AboutInfo .contact a {
  color: var(--gray);
}
body .container .YearInfo {
  flex: 1;
  padding-right: 3em;
}
body .container .YearInfo .list_year {
  display: flex;
  border-top: 0.75px solid black;
  padding: 0.9em 0;
}
body .container .YearInfo .list_year .li_1 {
  width: 10vw;
}
body .container .YearInfo .list_year .li_2 {
  flex: 1;
  line-height: 1.5em;
}
body .container .YearInfo .list_year .li_2 .li_2-2 {
  border-top: 0.75px solid rgb(155, 155, 155);
  padding-top: 0.9em;
  margin-top: 0.9em;
}
body .container .YearInfo .list_year .li_2 .list-style li {
  list-style-type: "-   ";
  left: 2.2em;
}
body .container .YearInfo .list_year .WorkTitle {
  font-family: "HALRepostItalic";
}

@media only screen and (max-width: 700px) {
  body .container {
    display: block;
  }
  body .container .AboutInfo {
    width: 100%;
    margin-bottom: 3.2rem;
  }
  body .container .AboutInfo .title {
    font-size: 1.75rem;
    margin-bottom: 1.1rem;
  }
  body .container .YearInfo .list_year {
    display: block;
  }
  body .container .YearInfo .list_year .li_1 {
    width: 100%;
    margin-bottom: 0.5em;
  }
  body .container .YearInfo .list_year .li_2 {
    width: 100%;
  }
}