@charset "UTF-8";
@import url("https://use.typekit.net/uya2url.css");
:root {
  --lightgray: rgb(245, 245, 245);
  --gray: rgb(200, 200, 200);
}

#underline {
  text-decoration: underline;
}

/* 한글 폰트 */
@font-face {
  font-family: "gothica1";
  src: url(../source_default/Gothica1/GothicA1-Regular.ttf);
  font-weight: 300;
  size-adjust: 92%;
}
@font-face {
  font-family: "gothica1";
  src: url(../source_default/Gothica1/GothicA1-Medium.ttf);
  font-weight: 400;
  size-adjust: 92%;
}
@font-face {
  font-family: "gothica1";
  src: url(../source_default/Gothica1/GothicA1-ExtraBold.ttf);
  font-weight: 600;
  size-adjust: 92%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  position: relative;
  font-family: "neue-haas-unica", "gothica1", sans-serif;
  font-weight: 400;
  word-break: keep-all;
  touch-action: pan-y; /* 세로만 스와이프 */
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

html {
  font-size: 0.95vw;
  line-height: 1.45em;
}

body {
  padding: 0 1.2vw 0 1.2vw;
}
body header {
  margin: 2vh 0vw 5vh 0;
  padding-left: 0.1vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 100;
}
body header .header_name {
  font-size: 1.7rem;
  letter-spacing: -0.01em;
  z-index: 1000;
  mix-blend-mode: overlay;
  /* Multiply 효과 적용 */
}
body header .header_name:hover {
  color: var(--blue);
}
body header .header_menu {
  font-size: 1.7rem;
  letter-spacing: -0.01em;
  position: absolute;
  right: 0.25rem;
}
body header #menu {
  margin-left: 3vw;
  color: rgb(0, 0, 0);
}
body header #menu:hover {
  color: rgba(0, 0, 0, 0.45);
  transition: all 0.2s ease-in;
}
body .container > * {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
body .container > *.show {
  opacity: 1;
  transform: translateY(0);
}
body {
  /* FOOTER 하단바 웹사이즈 */
}
body footer {
  margin-top: 5rem;
  padding-bottom: 1.2vw;
  font-size: 0.85rem;
  line-height: 1.45em;
  justify-content: center;
  text-align: center;
}
body footer a {
  margin-right: 0.25em;
}
body footer #underline {
  display: flex;
  justify-content: center;
  gap: 0.2vw;
  margin-top: -0.2vw;
}

/* 모바일사이즈  모바일사이즈  모바일사이즈 모바일사이즈  모바일사이즈  모바일사이즈 */
@media only screen and (max-width: 700px) {
  html {
    font-size: 3.5vw;
  }
  html body {
    padding: 0 2vw 0 2vw;
  }
  html body header {
    margin: 1vh 0 2em 0;
  }
  html body header .header_name {
    font-size: 1.6rem;
    position: relative;
  }
  html body header {
    /*HEADER 헤더 모바일사이즈*/
  }
  html body header .header_menu {
    font-size: 1.6rem;
  }
  html body header #menu {
    margin-left: 0.7em;
  }
  html body {
    /* FOOTER 하단바 모바일사이즈 */
  }
  html body footer {
    padding-bottom: 2vw;
  }
  html body footer #underline {
    margin-top: -0.5vw;
  }
}