/*이미지 슬라이드!!*/
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.slide-gallery {
	margin-bottom: 1.25vh;
}

.gallery-cell {
	width: 60vw;
	height: 40vw;
	margin-right: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.gallery-cell img {
	width: 100%;
	height: auto;
	min-height: 100%;
	/* 최소 높이를 부모 요소 높이에 맞춤 */
	object-fit: cover;
	object-position: center;
}

/*이미지 갤러리!!*/ /*이미지 갤러리!!*/ /*이미지 갤러리!!*/ /*이미지 갤러리!!*/
.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery-box {
	/* 모달 갤러리 썸네일 사이즈 */
	flex: 1 1 calc(50% - 0.75rem); /* 2개씩 배치되도록 */
	max-width: calc(50% - 0.75rem);
	height: auto;

	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-box > img {
	overflow: hidden;

	width: 100%;
	max-height: 65vh;

	/* 이미지 정 사이즈 */
	object-fit: cover;
	margin: 0;
}

/* 모바일사이즈  모바일사이즈  모바일사이즈 */
@media only screen and (max-width: 700px) {
	/*이미지 슬라이드! MOBILE ! MOBILE !*/
	.slide-gallery {
		margin-left: -2.5vw;
		margin-right: -2.5vw;
		margin-bottom: 1vw;
	}

	.gallery-cell {
		width: 75vw;
		height: 50vw;
		margin-right: calc(1.25vh * 0.75);
		/* 순번 지정 */
		counter-increment: gallery-cell;
	}

	/*이미지 갤러리!!*/
	.image-gallery {
		margin-top: 1vh;
	}

	.gallery-box {
		/* 모달 갤러리 썸네일 사이즈 */
		flex: 1 1 calc(50% - 1vw); /* 2개씩 배치되도록 */
		max-width: calc(50% - 1vw);
		height: auto;
	}
}
